In [1]:
import sqlite3
from datetime import datetime

In [4]:
con = sqlite3.connect('test1.db',
                     detect_types=sqlite3.PARSE_DECLTYPES |
                     sqlite3.PARSE_COLNAMES)

In [5]:
cur = con.cursor()
cur

In [ ]:
#TEXT as ISO8601 strings ("YYYY-MM-DD HH:MM:SS.SSS").

In [6]:
sqlite_create_table_query = '''CREATE TABLE people (
                                       id INTEGER PRIMARY KEY,
                                       name TEXT NOT NULL,
                                       date timestamp NOT NULL);'''
with sqlite3.connect('test1.db',
                     detect_types=sqlite3.PARSE_DECLTYPES |
                     sqlite3.PARSE_COLNAMES) as con:
    cur = con.cursor()
    cur.execute(sqlite_create_table_query)

In [7]:
with sqlite3.connect('test1.db') as con:
    cur = con.cursor()
    res = cur.execute("SELECT * FROM people")
    print(res.fetchall())

[]

In [8]:
data = [
    (1, 'Odos', datetime(1986, 1, 4)),
    (2, 'Kayla', datetime(1993, 9, 21)),
    (3, 'Dexter', datetime(2022, 5, 1)),
]

In [10]:
with sqlite3.connect('test1.db') as con:
    cur = con.cursor()
    cur.executemany("INSERT INTO people VALUES(?, ?, ?)", data)

In [26]:
with sqlite3.connect('test1.db') as con:
    cur = con.cursor()
    res = cur.execute("SELECT * FROM people")
    print(res.fetchall())

[(1, 'Odos', '1986-01-04 00:00:00'), (2, 'Kayla', '1993-09-21 00:00:00'), (3, 'Dexter', '2022-05-01 00:00:00')]

In [15]:
with sqlite3.connect('test1.db',
                     detect_types=sqlite3.PARSE_DECLTYPES |
                     sqlite3.PARSE_COLNAMES) as con:
    cur = con.cursor()
    res = cur.execute("SELECT * FROM people")
    rows = res.fetchall()
    print(rows)

[(1, 'Odos', datetime.datetime(1986, 1, 4, 0, 0)), (2, 'Kayla', datetime.datetime(1993, 9, 21, 0, 0)), (3, 'Dexter', datetime.datetime(2022, 5, 1, 0, 0))]

In [14]:
!pip install pandas
import pandas as pd

Collecting pandas
  Downloading pandas-2.0.0-cp38-cp38-macosx_10_9_x86_64.whl (11.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.6/11.6 MB 7.6 MB/s eta 0:00:0000:0100:01
Collecting pytz>=2020.1
  Using cached pytz-2023.3-py2.py3-none-any.whl (502 kB)
Collecting tzdata>=2022.1
  Using cached tzdata-2023.3-py2.py3-none-any.whl (341 kB)
Collecting numpy>=1.20.3
  Using cached numpy-1.24.2-cp38-cp38-macosx_10_9_x86_64.whl (19.8 MB)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/odosmatthews/opt/anaconda3/envs/sqlite38/lib/python3.8/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /Users/odosmatthews/opt/anaconda3/envs/sqlite38/lib/python3.8/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-1.24.2 pandas-2.0.0 pytz-2023.3 tzdata-2023.3

In [17]:
pd.DataFrame(rows, columns=('id', 'name', 'date')).dtypes

id               int64
name            object
date    datetime64[ns]
dtype: object

In [28]:
def date_to_str(d: datetime):
    return d.strftime("%Y-%m-%d %H:%M:%S")

d1 = datetime(1980, 1, 1)
d2 = datetime(1995, 1, 1)

In [29]:
sql = f'SELECT * FROM people WHERE date BETWEEN "{date_to_str(d1)}" AND "{date_to_str(d2)}";'
sql

'SELECT * FROM people WHERE date BETWEEN "1980-01-01 00:00:00" AND "1995-01-01 00:00:00";'

In [31]:
with sqlite3.connect('test1.db',
                     detect_types=sqlite3.PARSE_DECLTYPES |
                     sqlite3.PARSE_COLNAMES) as con:
    cur = con.cursor()
    res = cur.execute(sql)
    print(res.fetchall())

[(1, 'Odos', datetime.datetime(1986, 1, 4, 0, 0)), (2, 'Kayla', datetime.datetime(1993, 9, 21, 0, 0))]