In [10]:
import sqlite3
from datetime import datetime

In [11]:
sql = '''CREATE TABLE people (
                id INTEGER PRIMARY KEY,
                name TEXT NOT NULL,
                date timestamp);'''

In [12]:
with sqlite3.connect('test3.db',
                     detect_types=sqlite3.PARSE_DECLTYPES |
                     sqlite3.PARSE_COLNAMES) as sqliteConnection:
    cursor = sqliteConnection.cursor()
    cursor.execute(sql)

In [13]:
data = [
    (1, 'Odos', datetime(1986, 1, 4)),
    (2, 'Kayla', datetime(1993, 9, 21)),
    (3, 'Dexter', datetime(2022, 5, 1)),
]

In [14]:
with sqlite3.connect('test3.db',
                     detect_types=sqlite3.PARSE_DECLTYPES |
                     sqlite3.PARSE_COLNAMES) as con:
    cur = con.cursor()
    cur.executemany("INSERT INTO people VALUES(?, ?, ?)", data)

In [15]:
with sqlite3.connect('test3.db',
                     detect_types=sqlite3.PARSE_DECLTYPES |
                     sqlite3.PARSE_COLNAMES) as con:
    cur = con.cursor()
    res = cur.execute("SELECT * FROM people")
    print(res.fetchall())

[(1, 'Odos', datetime.datetime(1986, 1, 4, 0, 0)), (2, 'Kayla', datetime.datetime(1993, 9, 21, 0, 0)), (3, 'Dexter', datetime.datetime(2022, 5, 1, 0, 0))]